  //Favourites Page

.favourites-page-Title {
display: flex;
justify-content: center;
}

.favourites-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-top: 40px;
  gap: 2em;
}


