#banner {
  height: 720px;
  width: 100%;
}

#banner img {
  height: 100%;
  width: 100%;
  filter: contrast(50%);
  object-fit: cover;
  object-position: 0 60%;
}

.big-section {
  display: flex;
  justify-content: flex end;
  flex-direction: row;
}

.filter {
  margin-top: 1em;
}

.main-page-listing {
  margin-top: 1em;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.listing-actions {
  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(15, 14, 14);

}

.add-to-favourites {
  color: rgb(130, 15, 15);
  font-size: 1em;
 }

.add-to-favourites:hover {
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

.message-seller {
  color: rgb(19, 19, 220);
  font-size: 1em;
}

.message-seller:hover {
  color: rgb(92, 92, 239);
  transform: scale(1.5);
 }


.icons {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


