#banner {
  height: 720px;
  width: 100%;
}

#banner img {
  height: 100%;
  width: 100%;
  filter: contrast(50%);
  object-fit: cover;
  object-position: 0 60%;
}

.big-section {
  display: flex;
  justify-content: flex end;
  flex-direction: row;
}

.filter {
  margin-top: 1em;
}

.main-page-listing {
  margin-top: 1em;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}



