//Listings Page
.listings-main {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-top: 30px;
}

.listings-form {
  display: flex;
  flex-direction: column;
}

.listings-page-listing {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
